<!--  >HEARTWARMING KITCHEN  -->
<!--   <div id="heart-warming-kitchen" class="anchor-placeholder"></div> -->
  <div class="collection-section-header">HEARTWARMING KITCHEN</div>
  <a href="https://thepicksmart.com/products/table-runner" class="kitchen-background-img-3 product__image-wrapper">
    <div class="kitchen-background-img-3-layer">
      <div class="kitchen-background-img-3-text">Everybody has comfort food that gets them plunged into nostalgia. Whether it be Saturday brunches of waffles, all-time favorite mac and cheese or heartwarming chili, these dishes always stay in our hearts giving us sentimental value in today’s busy world. </div>
      <img class="kitchen-item-1" src="https://storage.googleapis.com/picksmart-img-au/collection-page/kitchen/item-conrad-table-runner.png" />
      {% for product in collections.kitchen.products %}
      {% if product.tags contains "tablerunner" %}
      <div class="kitchen-background-img-3-price">
        <div class="product__title" >
          <div style="border-bottom: none; padding-bottom:0; color: black; font-size: 13px; line-height: normal">{{ product.title }}</div>
        </div>
        <div class="product__prices">
          {% if product.compare_at_price > product.price %}

          <span class="product__price--on-sale" >
            {% if product.price_varies %}
            {% assign sale_price = product.price | money %}
            {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
            {% else %}
            <strong class="visually-hidden">{{ 'products.product.sale_price' | t }}</strong>
            <span style="color: #333; font-size: 16px; font-family: helvetica;">{{ product.price | money }}</span>

            {% endif %}
          </span>

          {% else %}
          <span class="product__price">
            {% if product.price_varies %}
            {% assign price = product.price | money %}
            {{ 'products.product.from_text_html' | t: price: price }}
            {% else %}
            <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
            {{ product.price | money }}
            {% endif %}
          </span>

          {% endif %}

          {% if product.compare_at_price > product.price %}
          <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
          <span class="product-single__price--compare" style="font-size:12px; text-decoration: line-through;">Brand Price {{ product.compare_at_price | money }}</span>
          {% endif %}

          {% if on_sale %}
          <!--       <span class="badge badge--sale"><span>{{ 'products.product.on_sale' | t }}</span></span> -->
          {% endif %}

          {% comment %}
          {% if sold_out %}
          <span class="badge badge--sold-out"><span>{{ 'products.product.sold_out' | t }}</span></span>
          {% endif %}
          {% endcomment %}

          {% if sold_out %}
          <strong class="sold-out-text">{{ 'products.product.sold_out' | t }}</strong>
          {% endif %}

        </div>
      </div>
    {% endif %}
    {% endfor %}
    
    </div>
  </a>
  
  <a href="https://thepicksmart.com/collections/kitchen/products/cast-iron-dutch-oven" class="kitchen-background-img-4" style="border-bottom: 0">
    {% for product in collections.kitchen.products %}
    {% if product.tags contains "castiron" %}
      <div class="kitchen-item-text-2">
        <div class="product__title" >
          <div style="border-bottom: none; padding-bottom:0; color: black; font-size: 13px; line-height: normal">{{ product.title }}</div>
        </div>
        <div class="product__prices">
          {% if product.compare_at_price > product.price %}

          <span class="product__price--on-sale" >
            {% if product.price_varies %}
            {% assign sale_price = product.price | money %}
            {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
            {% else %}
            <strong class="visually-hidden">{{ 'products.product.sale_price' | t }}</strong>
            <span style="color: #333; font-size: 16px; font-family: helvetica;">{{ product.price | money }}</span>

            {% endif %}
          </span>

          {% else %}
          <span class="product__price">
            {% if product.price_varies %}
            {% assign price = product.price | money %}
            {{ 'products.product.from_text_html' | t: price: price }}
            {% else %}
            <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
            {{ product.price | money }}
            {% endif %}
          </span>

          {% endif %}

          {% if product.compare_at_price > product.price %}
          <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
          <span class="product-single__price--compare" style="font-size:12px; text-decoration: line-through;">Brand Price {{ product.compare_at_price | money }}</span>
          {% endif %}

          {% if on_sale %}
          <!--       <span class="badge badge--sale"><span>{{ 'products.product.on_sale' | t }}</span></span> -->
          {% endif %}

          {% comment %}
          {% if sold_out %}
          <span class="badge badge--sold-out"><span>{{ 'products.product.sold_out' | t }}</span></span>
          {% endif %}
          {% endcomment %}

          {% if sold_out %}
          <strong class="sold-out-text">{{ 'products.product.sold_out' | t }}</strong>
          {% endif %}

        </div>
      </div>
    {% endif %}
    {% endfor %}
  </a>
  
  <div class="grid grid--uniform custom-collection-grid-list" role="list" style="margin-top: 15px; margin-left: 1%; margin-right: 1%">
    {% for product in collections.kitchen.products %}
      {% if product.tags contains "heartwarming" %}
      {% include 'product-card-grid-new-collection-page' %}
      {% endif %}
    {% endfor %}
  </div>
