<!--  KEEP’EM BREWING  -->
  <div class="collection-section-header">KEEP’EM BREWING</div>
  <a href="https://thepicksmart.com/collections/kitchen/products/barsetto-tripresso-portable-coffee-machine-deal" class="kitchen-background-img-7" style="border-bottom: 0">
    <div class="kitchen-background-img-7-text-container">
      <div class="kitchen-background-img-7-text">When life gives you lemons, trade them for coffee. You can’t buy happiness, but you can drink a cup of coffee and that is pretty close.</div>
    </div>
	{% for product in collections.kitchen.products %}
    {% if product.tags contains "machine" %}
      <div class="kitchen-item-text-3">
        <div class="product__title" >
          <div style="border-bottom: none; padding-bottom:0; color: white; font-size: 13px; line-height: normal">{{ product.title }}</div>
        </div>
        <div class="product__prices">
          {% if product.compare_at_price > product.price %}

          <span class="product__price--on-sale" >
            {% if product.price_varies %}
            {% assign sale_price = product.price | money %}
            {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
            {% else %}
            <strong class="visually-hidden">{{ 'products.product.sale_price' | t }}</strong>
            <span style="color: #333; font-size: 16px;">{{ product.price | money }}</span>

            {% endif %}
          </span>

          {% else %}
          <span class="product__price">
            {% if product.price_varies %}
            {% assign price = product.price | money %}
            {{ 'products.product.from_text_html' | t: price: price }}
            {% else %}
            <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
            {{ product.price | money }}
            {% endif %}
          </span>

          {% endif %}

          {% if product.compare_at_price > product.price %}
          <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
          <span class="product-single__price--compare" style="font-size:12px; text-decoration: line-through;">Brand Price {{ product.compare_at_price | money }}</span>
          {% endif %}

          {% if on_sale %}
          <!--       <span class="badge badge--sale"><span>{{ 'products.product.on_sale' | t }}</span></span> -->
          {% endif %}

          {% comment %}
          {% if sold_out %}
          <span class="badge badge--sold-out"><span>{{ 'products.product.sold_out' | t }}</span></span>
          {% endif %}
          {% endcomment %}

          {% if sold_out %}
          <strong class="sold-out-text">{{ 'products.product.sold_out' | t }}</strong>
          {% endif %}

        </div>
      </div>
    {% endif %}
    {% endfor %}
  </a>
  
  <div class="grid grid--uniform custom-collection-grid-list" role="list" style="margin-top: 15px; margin-left: 1%; margin-right: 1%">
    {% for product in collections.kitchen.products %}
    {% if product.tags contains "brewing" %}
    <div class="product grid__item medium-up--one-third small--one-half slide-up-animation animated custom-grid-item"
         style="margin-bottom: 10px; padding-left: 1%; padding-right: 1%"
         role="listitem">
      <!--           <img width="100%" src={{ product | img_url }}/> -->
      <a href="{{ product.url | within: collection }}" class=" supports-js product__image-wrapper" title="{{ product.title | escape }}" style="border-bottom: none; margin-bottom: 0">
     <img src="{{ product.featured_image.src | img_url: 'grande' }}"  alt="{{ product.featured_image.alt | escape }}">
      </a>
      <div style="background-color: white; padding: 7px; margin-top: -7px;">
        <div class="product__title">
          <a href="{{ product.url }}" style="border-bottom: none; padding-bottom:0">{{ product.title }}</a>
        </div>
        <div class="product__prices">
          {% if product.compare_at_price > product.price %}

          <span class="product__price--on-sale">
            {% if product.price_varies %}
            {% assign sale_price = product.price | money %}
            {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
            {% else %}
            <strong class="visually-hidden">{{ 'products.product.sale_price' | t }}</strong>
            <span style="color: #aca281;">{{ product.price | money }}</span>

            {% endif %}
          </span>

          {% else %}
          <span class="product__price">
            {% if product.price_varies %}
            {% assign price = product.price | money %}
            {{ 'products.product.from_text_html' | t: price: price }}
            {% else %}
            <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
            {{ product.price | money }}
            {% endif %}
          </span>

          {% endif %}

          {% if product.compare_at_price > product.price %}
          <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
          <div class="product-single__price--compare" style="font-size:12px; text-decoration: line-through">Brand Price {{ product.compare_at_price | money }}</div>
          {% endif %}

          {% if on_sale %}
          <!--       <span class="badge badge--sale"><span>{{ 'products.product.on_sale' | t }}</span></span> -->
          {% endif %}

          {% comment %}
          {% if sold_out %}
          <span class="badge badge--sold-out"><span>{{ 'products.product.sold_out' | t }}</span></span>
          {% endif %}
          {% endcomment %}

          {% if sold_out %}
          <strong class="sold-out-text">{{ 'products.product.sold_out' | t }}</strong>
          {% endif %}

        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  
  
  
<!--   <div class="kitchen-background-img-8">
    <div class="grid grid--uniform custom-collection-grid-list kitchen-section-brew" role="list">
      {% for product in collections.kitchen.products %}
      {% if product.tags contains "brew" %}
      <div class="product grid__item medium-up--one-third small--one-half slide-up-animation animated custom-grid-item"
           style="margin-bottom: 10px; padding-left: 1%; padding-right: 1%"
           role="listitem">
        <a href="{{ product.url | within: collection }}" class=" supports-js product__image-wrapper" title="{{ product.title | escape }}" style="border-bottom: none; margin-bottom: 0">
          <img src="{{ product.featured_image.src | img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}">
        </a>
        <div style="background-color: white; padding: 7px; margin-top: -7px;">
          <div class="product__title">
            <a href="{{ product.url }}" style="border-bottom: none; padding-bottom:0">{{ product.title }}</a>
          </div>
          <div class="product__prices">
            {% if product.compare_at_price > product.price %}

            <span class="product__price--on-sale" style="color: #aca281;">
              {% if product.price_varies %}
              {% assign sale_price = product.price | money %}
              {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
              {% else %}
              <strong class="visually-hidden">{{ 'products.product.sale_price' | t }}</strong>
              <span style="color: #aca281;">{{ product.price | money }}</span>

              {% endif %}
            </span>

            {% else %}
            <span class="product__price">
              {% if product.price_varies %}
              {% assign price = product.price | money %}
              {{ 'products.product.from_text_html' | t: price: price }}
              {% else %}
              <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
              {{ product.price | money }}
              {% endif %}
            </span>

            {% endif %}

            {% if product.compare_at_price > product.price %}
            <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
            <div class="product-single__price--compare" style="font-size:12px; text-decoration: line-through">Brand Price {{ product.compare_at_price | money }}</div>
            {% endif %}

            {% if on_sale %}
            {% endif %}

            {% comment %}
            {% if sold_out %}
            <span class="badge badge--sold-out"><span>{{ 'products.product.sold_out' | t }}</span></span>
            {% endif %}
            {% endcomment %}

            {% if sold_out %}
            <strong class="sold-out-text">{{ 'products.product.sold_out' | t }}</strong>
            {% endif %}

          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>

  <div class="kitchen-background-img-9">
    <div style="padding: 17px 17px 0 17px; color: white; font-size: 13px; text-align: center">Drink a fresh cup of hot coffee anytime anywhere with our KEEP’EM BREWING collection.</div>

    <div class="grid grid--uniform custom-collection-grid-list kitchen-section-capsule" role="list">
      {% for product in collections.kitchen.products %}
      {% if product.tags contains "capsule" %}
      <div class="product grid__item medium-up--one-third small--one-half slide-up-animation animated custom-grid-item"
           style="margin-bottom: 10px; padding-left: 1%; padding-right: 1%"
           role="listitem">
        <a href="{{ product.url | within: collection }}" class=" supports-js product__image-wrapper" title="{{ product.title | escape }}" style="border-bottom: none; margin-bottom: 0">
          <img src="{{ product.featured_image.src | img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}">
        </a>
        <div style="background-color: white; padding: 7px; margin-top: -7px;">
          <div class="product__title">
            <a href="{{ product.url }}" style="border-bottom: none; padding-bottom:0">{{ product.title }}</a>
          </div>
          <div class="product__prices">
            {% if product.compare_at_price > product.price %}

            <span class="product__price--on-sale">
              {% if product.price_varies %}
              {% assign sale_price = product.price | money %}
              {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
              {% else %}
              <strong class="visually-hidden">{{ 'products.product.sale_price' | t }}</strong>
              <span style="color: #aca281;">{{ product.price | money }}</span>

              {% endif %}
            </span>

            {% else %}
            <span class="product__price">
              {% if product.price_varies %}
              {% assign price = product.price | money %}
              {{ 'products.product.from_text_html' | t: price: price }}
              {% else %}
              <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
              {{ product.price | money }}
              {% endif %}
            </span>

            {% endif %}

            {% if product.compare_at_price > product.price %}
            <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
            <div class="product-single__price--compare" style="font-size:12px; text-decoration: line-through">Brand Price {{ product.compare_at_price | money }}</div>
            {% endif %}

            {% if on_sale %}
            {% endif %}

            {% comment %}
            {% if sold_out %}
            <span class="badge badge--sold-out"><span>{{ 'products.product.sold_out' | t }}</span></span>
            {% endif %}
            {% endcomment %}

            {% if sold_out %}
            <strong class="sold-out-text">{{ 'products.product.sold_out' | t }}</strong>
            {% endif %}

          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div> -->


