<div class="page-width" data-section-id="{{ section.id }}" data-section-type="slideshow-section" style="margin: 15px auto; ">

  {% if section.blocks.size > 0 %}
    <div class="slideshow-wrapper slideshow-wrapper-cong">
      <button type="button" class="visually-hidden slideshow__pause" data-id="{{ section.id }}" aria-live="polite">
        <span class="slideshow__pause-stop">
          {% include 'icon-pause' %}
          <span class="icon__fallback-text">{{ 'sections.slideshow.pause_slideshow' | t }}</span>
        </span>
        <span class="slideshow__pause-play">
          {% include 'icon-play' %}
          <span class="icon__fallback-text">{{ 'sections.slideshow.play_slideshow' | t }}</span>
        </span>
      </button>

      <div class="slideshow slideshow--{{ section.settings.slideshow_height }}" id="Slideshow-{{ section.id }}" data-autoplay="{{ section.settings.autoplay }}" data-speed="{{ section.settings.autoplay_speed }}">
        {% for block in section.blocks %}
          {%- assign is_background_video = false -%}
          {% if block.type == 'video' %}
            {% if block.settings.video_type == 'background' or block.settings.video_type =='background-chrome' %}
              {%- assign is_background_video = true -%}
            {% endif %}
          {% endif %}

          <div class="slideshow__slide slideshow__slide--{{ block.id }}{% if is_background_video %} slideshow__slide--background-video{% endif %}" {{ block.shopify_attributes }}>
            {% if block.settings.link != blank %}
              <a href="{{ block.settings.link }}s" class="slideshow__link">
            {% endif %}

            {% if block.type == 'video' %}
              {% if block.settings.video_url != blank %}
                <div class="video-loader"></div>
              {% endif %}
              {% unless block.settings.video_type == 'background' %}
                <button type="button" class="text-link slideshow__video-control slideshow__video-control--close" data-controls="SlideshowVideo-{{ block.id }}">
                  {% include 'icon-close' %}
                  <span class="icon__fallback-text">{{ 'sections.slideshow.close_video' | t }}</span>
                </button>
              {% endunless %}
              {% if block.settings.video_url != blank %}
                <div id="SlideshowVideo-{{ block.id }}" class="slideshow__video {% if is_background_video %}slideshow__video--background{% endif %} slideshow__video--{{ block.settings.video_type }}"
                  data-id="{{ block.settings.video_url.id }}"
                  data-type="{{ block.settings.video_type }}"
                  data-slideshow="Slideshow-{{ section.id }}"></div>
              {% endif %}
            {% endif %}

            {% if block.settings.image == blank %}
              <div class="slideshow-cong__image {% if section.settings.default_layout == false %}slideshow-cong__image__right{% endif %} js">
                <div class="placeholder-background">
                  {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                  {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
              </div>
            {% else %}
              <div class="slideshow-cong__image {% if section.settings.default_layout == false %}slideshow-cong__image__right{% endif %} box ratio-container lazyload{% unless forloop.first == true %} lazypreload{% endunless %} js"
                   data-bgset="{% include 'bgset', image: block.settings.image %}"
                   data-sizes="auto"
                   data-parent-fit="cover"
                   style="background-position: {{ block.settings.alignment }};{% if forloop.first == true %} background-image: url('{{ block.settings.image | img_url: '300x300' }});{% endif %}">
              </div>
            {% endif %}

            <noscript>
              <div class="slideshow-cong__image"{% if block.settings.image %} style="background-image: url('{{ block.settings.image | img_url: '2048x' }}'); background-position: {{ block.settings.alignment }};"{% endif %}>
                {% if block.settings.image == blank %}
                  <div class="placeholder-background">
                    {% capture current %}{% cycle 1, 2 %}{% endcapture %}
                    {{ 'lifestyle-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                  </div>
                {% endif %}
              </div>
            </noscript>
            <div class="slideshow__text-wrap slideshow-cong__overlay">
              <div class="slideshow-cong__text-content {% if section.settings.default_layout == false %}slideshow-cong__text-content__left{% endif %}">
                <div class="page-width">
                  <div style="background-color: #999; height: 1px; width: 44px; margin: 0 auto;"></div>
                  {% unless block.settings.collection == blank %}
                    <div style="line-height: 3; letter-spacing: 7px; color: #999; font-size: 12px; text-transform: uppercase">
                      {{ block.settings.collection | escape }}
                    </div>
                  {% endunless %}
                  {% unless block.settings.subheading == blank %}
                    <div style="line-height: 3.5; letter-spacing: 0.1px; color: #666666; font-size: 11px; margin: 80px 0 0 0;">
                      {{ block.settings.subheading | escape }}
                    </div>
                  {% endunless %}
                  {% unless block.settings.title == blank %}
                    <div style="line-height: 1.17; letter-spacing: 0.4px; color: #333333; font-size: 18px; text-transform: uppercase; font-weight: bold; margin: 15px">
                      {{ block.settings.title | escape }}
                    </div>
                  {% endunless %}
                  <div class="text-center">
                    {% if block.settings.button_label != blank and block.settings.button_link != blank %}
                    <a href="{{ block.settings.button_link }}#{{block.settings.anchor}}" class="btn slideshow-cong__btn slider-btn">
                      {{ block.settings.button_label | escape }}
                    </a>
                    {% endif %}
                  </div>
                  {% if block.type == 'video' %}
                    {% unless block.settings.video_type == 'background' %}
                      <div class="slideshow__video-control--play-wrapper{% if block.settings.title != blank or block.settings.subheading != blank %} slideshow__video-control--play-wrapper--push{% endif %}">
                        <button type="button" class="text-link slideshow__video-control slideshow__video-control--play" data-controls="SlideshowVideo-{{ block.id }}">
                          {% include 'icon-play-video' %}
                          <span class="icon__fallback-text">{{ 'sections.slideshow.play_video' | t }}</span>
                        </button>
                      </div>
                    {% endunless %}
                  {% endif %}
                </div>
              </div>
            </div>

            {% if block.settings.link != blank %}
              </a>
            {% endif %}
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}

  {% if section.blocks.size == 0 %}
    <div class="placeholder-noblocks">
      {{ 'homepage.onboarding.no_content' | t }}
    </div>
  {% endif %}
</div>

<script>
  $(document).ready(function() {
    
    let checkSlick = setInterval(function () {
      if($('.slideshow-wrapper-cong').length) {
        $('.slideshow-wrapper-cong .slick-prev').addClass('hide-on-mobile');
        $('.slideshow-wrapper-cong .slick-next').addClass('hide-on-mobile');
        //$('.slideshow-wrapper-cong .slick-prev').html("<img style='width:100px; border: 1px solid red; ' src='https://storage.googleapis.com/picksmart-img-au/assets/home-colletcion-arrow-left.png'>");
        //$('.slideshow-wrapper-cong .slick-next').html("<img style='width:100px; border: 1px solid red; ' src='https://storage.googleapis.com/picksmart-img-au/assets/home-colletcion-arrow-right.png'>");
        $('.slideshow-wrapper-cong .slick-prev').css('background', '#ffffff url(https://storage.googleapis.com/picksmart-img-au/assets/home-colletcion-arrow-left.png) no-repeat 15px 20px')
        $('.slideshow-wrapper-cong .slick-next').css('background', '#ffffff url(https://storage.googleapis.com/picksmart-img-au/assets/home-colletcion-arrow-right.png) no-repeat 17px 20px')
      }
      
      if($('#shopify-section-1527153293515').length) {
        $('#shopify-section-1527153293515 .slideshow-wrapper-cong .slideshow .slick-dots').addClass('slick-dots__left')
      }

      if($('slideshow-wrapper-cong').length) {
        clearInterval(checkSlick)
      }
    }, 100)
  })
</script>

{% schema %}
  {
    "name": "Slideshow Cong",
    "class": "index-section index-section--flush hide-on-mobile",
    "max_blocks": 4,
    "settings": [
      {
        "type": "checkbox",
        "id": "autoplay",
        "label": "Auto-rotate slides",
        "default": true
      },
      {
        "type": "select",
        "id": "autoplay_speed",
        "label": "Change slides every",
        "options": [
          { "value": "4000", "label": "4 seconds" },
          { "value": "5000", "label": "5 seconds" },
          { "value": "6000", "label": "6 seconds" },
          { "value": "7000", "label": "7 seconds" },
          { "value": "8000", "label": "8 seconds" },
          { "value": "9000", "label": "9 seconds" },
          { "value": "10000", "label": "10 seconds" }
        ],
        "default": "7000"
      },
      {
        "type": "select",
        "id": "slideshow_height",
        "label": "Section height",
        "default": "small",
        "options": [
          {
            "label": "Small",
            "value": "small"
          },
          {
            "label": "Medium",
            "value": "medium"
          },
          {
            "label": "Large",
            "value": "large"
          }
        ]
      },
      {
        "type": "select",
        "id": "text_size",
        "label": "Text size",
        "default": "medium",
        "options": [
          {
            "label": "Medium",
            "value": "medium"
          },
          {
            "label": "Large",
            "value": "large"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "default_layout",
        "label": "Default Layout",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image slide",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Image alignment",
            "default": "top",
            "options": [
              {
                "value": "top",
                "label": "Top"
              },
              {
                "value": "center",
                "label": "Middle"
              },
              {
                "value": "bottom",
                "label": "Bottom"
              }
            ]
          },
          {
            "type": "text",
            "id": "collection",
            "label": "Collection Name",
            "default": "Bedroom"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "The Cozy Layer"
          },
          {
            "type": "text",
            "id": "subheading",
            "label": "Subheading",
            "default": "From Chanel Designated Manufacturer"
          },
          {
            "type": "text",
            "id": "button_label",
            "label": "Button label",
			"default": "Shop"
          },
          {
            "type": "url",
            "id": "button_link",
            "label": "Button link"
          },
          {
            "type": "text",
            "id": "anchor",
            "label": "Anchor link"
          }
        ]
      },
      {
        "type": "video",
        "name": "Video slide",
        "settings": [
          {
            "type": "video_url",
            "id": "video_url",
            "label": "Video link",
            "accept": ["youtube"],
            "default": "https:\/\/www.youtube.com\/watch?v=_9VUPq3SxOc"
          },
          {
            "type": "select",
            "id": "video_type",
            "label": "Style",
            "options": [
              {
                "value": "chrome",
                "label": "Image with play button"
              },
              {
                "value": "background-chrome",
                "label": "Background video with play button"
              },
              {
                "value": "background",
                "label": "Background video"
              }
            ]
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "info": "Fallback when autoplaying video is not supported on mobile devices"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Video slide"
          },
          {
            "type": "text",
            "id": "subheading",
            "label": "Subheading",
            "default": "Tell your brand's story through video and images"
          }
        ]
      }
    ],
    "presets": [{
      "name": "Slideshow Cong",
      "category": "Image",
      "settings": {
        "autoplay": true,
        "autoplay_speed": "5000"
      },
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }]
  }
{% endschema %}
